#apiVersion: v1
#kind: ServiceAccount
#metadata:
#  labels:
#    k8s-app: kubernetes-heapster
#  name: heapster
#  namespace: kube-system
#---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: heapster
  namespace: kube-system
spec:
  replicas: 1
  template:
    metadata:
      labels:
        task: monitoring
        k8s-app: heapster
    spec:
      serviceAccountName: heapster
      containers:
      - name: heapster
        image: gcr.io/google_containers/heapster-amd64:v1.3.0-beta.1 
        imagePullPolicy: IfNotPresent
        command:
        - /heapster
          #- --source=kubernetes:http://10.86.20.57:8080?inClusterConfig=false&useServiceAccount=false
          #- --source=kubernetes:http://10.86.20.57:8080?inClusterConfig=false&useServiceAccount=false
        - --source=kubernetes:http://10.86.20.57:8080?inClusterConfig=false&useServiceAccount=false
          #- --sink=influxdb:http://monitoring-influxdb:8086 
        - --sink=influxdb:http://172.30.1.8:8086
          #- --sink=influxdb:http://172.30.1.8:8086


